*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
    background-size: cover;
}

.index-body{
  min-height: 100vh;
  overflow: hidden;
}

h1{
  text-align: center;
  margin-block: 20px;
}

.form-wrapper,
.result-wrapper{
  max-width: 400px;
  margin: 50px auto;
  padding:30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: rgb(4,84,161);
  background: linear-gradient(180deg, rgba(4,84,161,1) 18%, rgb(5, 148, 148) 86%);

}

.result-wrapper{
  max-width: 1000px;
  color: #fff;
}

.form-wrapper form{
  display: flex;
  flex-direction: column;
}

.form-wrapper form label{
  margin-block: 10px;
  text-transform: capitalize;
  color: #fff;
}

.form-wrapper form input[type="text"]{
  padding: 10px 10px;
  border: 0;
  outline-color: blue;
}
.form-wrapper form input[type="submit"]{
  margin-block: 10px;
  padding: 10px 0;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 200ms ease-in-out,
              color 200ms ease-in-out;
}
.form-wrapper form input[type="submit"]:hover{
  background-color: rgb(0, 110, 255);
  color: #fff;
}

.result-wrapper p{
  margin-block: 10px;
  font-size: 18px;
  line-height: 150%;
}

.result-wrapper p.lenght-p{
  font-size: 24px;
  color: blue;
}